#include "Generated.xcconfig"
#include "BuildOverrides.xcconfig"

FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) "$(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios/Flutter.xcframework/ios-arm64"
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) "$(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios/Flutter.xcframework/ios-arm64_x86_64-simulator"

// Development Environment Configuration
FLUTTER_FLAVOR = dev
PRODUCT_BUNDLE_IDENTIFIER = com.fittechs.duruNotesApp.dev
PRODUCT_NAME = Duru Notes Dev
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
MARKETING_VERSION = $(FLUTTER_BUILD_NAME)
